
.vs/BlurringFilter/v15/.suo
.vs/BlurringFilter/v15/Browse.VC.db
.vs/BlurringFilter/v15/Browse.VC.opendb
.vs/BlurringFilter/v15/ipch/AutoPCH/2ec17c2856206c60/BLURRINGFILTER.ipch
.vs/BlurringFilter/v15/ipch/AutoPCH/968cb1b72edd64a3/BLURRINGFILTER.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.ipch
*.tga
*.pdb
*.obj
*.cache
*.tlog
*.log
*.asm
*.user
*.filters
*.vcxproj
*.sln
